.container {
    width: 600px;
    margin: 0 auto;
}
.work-item {
    line-height: 0;
}
.work-item img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}
.works {
    display: grid;
    grid-template-areas: 
    'w1 w3 w3'
    'w2 w3 w3'
    'w4 w5 w6'
    ;
}
.x1 {
    grid-area: w1;
}
.x2 {
    grid-area: w2;
}
.x3 {
    grid-area: w3;
}
.x4 {
    grid-area: w4;
}
.x5 {
    grid-area: w5;
}
.x6 {
    grid-area: w6;
}

h1 {
    font-family: sans-serif;
    color: blue;
}